<div class="container">
<ul class="list-unstyled" *ngIf="users?.length > 0">
  <li class="card card-body mb-2" *ngFor="let user of users" style="border-color: green">
    <h3 style="color: lightcoral">{{user.name}}
    <small>
      <button class="btn btn-dark btn-sm" (click)="showHideUserDetails(user)">
      <i [ngClass]="user.hide ? 'fa fa-plus': 'fa fa-minus'" class="fa fa-plus"></i> 
      </button></small>
      
      <small>
      <button class="btn btn-dark btn-sm float-right" routerLink="/users/{{user.id}}">Show Details</button>
      </small>
      </h3>
    <ul class="list-group" *ngIf="!user.hide" style="border-color: green">
      <li class="list-group-item">Phone: {{user.phone}}</li>
      <li class="list-group-item">Email: {{user.email}}</li>
      <li class="list-group-item">Website: {{user.website}}</li>
      <li class="list-group-item">Address: {{user.address.street}} {{user.address.suite}}, {{user.address.city}} ,
        {{user.address.zipcode}}</li>
    </ul>
  </li>
</ul>

<h4 *ngIf="users?.length == 0">No users found!</h4>
</div>




<!-- <button class="btn btn-dark" (click)="showUserForm=!showUserForm">Add User</button>
<div class="card card-body mb-3" *ngIf="showUserForm">
<h2>Add User</h2>
<form #userForm="ngForm" (ngSubmit)="onUserFormSubmit(userForm)">
  <div class="form-group">
    <label>Name:</label>
    <input type="text" 
           [(ngModel)] ="user.name" 
           class="form-control"
           [ngClass]="{'is-invalid':userName.errors && userName.touched}" 
           name="name"
           required
           #userName="ngModel"
           minlength="2">
    <div [hidden]="!userName.errors?.required" class="invalid-feedback">
      Name is required
    </div>
    <div [hidden]="!userName.errors?.minlength" class="invalid-feedback">
      Must be atleast 2 characters
    </div>
  </div>
  <div class="form-group">
    <label>Phone:</label>
    <input type="text" 
           [(ngModel)] ="user.phone" 
           class="form-control" 
           name="phone"
           [ngClass]="{'is-invalid':userPhone.errors && userPhone.touched}" 
           required
           #userPhone="ngModel"
           minlength="10">
    <div [hidden]="!userPhone.errors?.required" class="invalid-feedback">
      Phone number is required
    </div>
    <div [hidden]="!userPhone.errors?.minlength" class="invalid-feedback">
      Must be atleast 10 characters
    </div>
  </div>
  <div class="form-group">
    <label>Email:</label>
    <input type="email" 
           [(ngModel)] ="user.email" 
           class="form-control" 
           [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}" 
           required
           #userEmail="ngModel"
           pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
    <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">
      Email is required
    </div>
    <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">
      Email is not valid.
    </div>
  </div>
   <div class="form-group">
    <label>Website:</label>
    <input type="text" [(ngModel)] ="user.website" class="form-control" name="website">
  </div>
  <div class="form-group">
    <label>street:</label>
    <input type="text" [(ngModel)] ="user.address.street" class="form-control" name="street">
  </div>
   <div class="form-group">
    <label>Suite:</label>
    <input type="text" [(ngModel)] ="user.address.suite" class="form-control" name="suite">
  </div>
   <div class="form-group">
    <label>City:</label>
    <input type="text" [(ngModel)] ="user.address.city" class="form-control" name="city">
  </div>
    <div class="form-group">
    <label>Zip:</label>
    <input type="text" [(ngModel)] ="user.address.zipcode" class="form-control" name="zipcode">
  </div>
  <button [disabled]="!userForm.form.valid" class="btn-light btn-block mb-3" (click)="addUser($event)">Add New User</button>
</form>
</div> -->
