<div class="container">
<ul class="list-unstyled" *ngIf="users?.length > 0">
  <li class="card card-body mb-2" *ngFor="let user of users" style="border-color: green">
    <h3 style="color: lightcoral">{{user.name}}
    <small>
      <button class="btn btn-dark btn-sm" (click)="showHideUserDetails(user)">
      <i [ngClass]="user.hide ? 'fa fa-plus': 'fa fa-minus'" class="fa fa-plus"></i> 
      </button></small>
      
      <small>
      <button class="btn btn-dark btn-sm float-right" routerLink="/users/{{user.id}}">User Details</button>
      </small>
      </h3>
    <ul class="list-group" *ngIf="!user.hide" style="border-color: green">
      <li class="list-group-item">Phone: {{user.phone}}</li>
      <li class="list-group-item">Email: {{user.email}}</li>
      <li class="list-group-item">Website: {{user.website}}</li>
      <li class="list-group-item">Address: {{user.address.street}} {{user.address.suite}}, {{user.address.city}} ,
        {{user.address.zipcode}}</li>
    </ul>
  </li>
</ul>

<h4 *ngIf="users?.length == 0">No users found!</h4>
</div>